In [2]:
import pandas as pd
import numpy as np
import json

# Load the Data

In [3]:
df = pd.read_csv(r"C:\Users\ojaswitha\OneDrive\Documents\Desktop\CLEANING_DATA\INvideos.csv")
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,kzwfHumJyYc,17.14.11,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...
1,zUZ1z7FwLc8,17.14.11,"पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...",HJ NEWS,25,2017-11-13T05:43:56.000Z,"पीरियड्स के समय|""पेट पर पति करता ऐसा""|""देखकर द...",590101,735,904,0,https://i.ytimg.com/vi/zUZ1z7FwLc8/default.jpg,True,False,False,"पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं..."
2,10L1hZ9qa58,17.14.11,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12T15:48:08.000Z,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,https://i.ytimg.com/vi/10L1hZ9qa58/default.jpg,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...
3,N1vE8iiEg64,17.14.11,Eruma Saani | Tamil vs English,Eruma Saani,23,2017-11-12T07:08:48.000Z,"Eruma Saani|""Tamil Comedy Videos""|""Films""|""Mov...",1242680,70353,1624,2684,https://i.ytimg.com/vi/N1vE8iiEg64/default.jpg,False,False,False,This video showcases the difference between pe...
4,kJzGH0PVQHQ,17.14.11,why Samantha became EMOTIONAL @ Samantha naga ...,Filmylooks,24,2017-11-13T01:14:16.000Z,"Filmylooks|""latest news""|""telugu movies""|""telu...",464015,492,293,66,https://i.ytimg.com/vi/kJzGH0PVQHQ/default.jpg,False,False,False,why Samantha became EMOTIONAL @ Samantha naga ...

In [4]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37352 entries, 0 to 37351
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                37352 non-null  object
 1   trending_date           37352 non-null  object
 2   title                   37352 non-null  object
 3   channel_title           37352 non-null  object
 4   category_id             37352 non-null  int64
 5   publish_time            37352 non-null  object
 6   tags                    37352 non-null  object
 7   views                   37352 non-null  int64
 8   likes                   37352 non-null  int64
 9   dislikes                37352 non-null  int64
 10  comment_count           37352 non-null  int64
 11  thumbnail_link          37352 non-null  object
 12  comments_disabled       37352 non-null  bool
 13  ratings_disabled        37352 non-null  bool
 14  video_error_or_removed  37352 non-null  bool
 15  description             36791 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 3.8+ MB

        category_id         views         likes      dislikes  comment_count
count  37352.000000  3.735200e+04  3.735200e+04  3.735200e+04    37352.00000
mean      21.576596  1.060478e+06  2.708272e+04  1.665082e+03     2676.99743
std        6.556593  3.184932e+06  9.714510e+04  1.607617e+04    14868.31713
min        1.000000  4.024000e+03  0.000000e+00  0.000000e+00        0.00000
25%       23.000000  1.239155e+05  8.640000e+02  1.080000e+02       81.00000
50%       24.000000  3.045860e+05  3.069000e+03  3.260000e+02      329.00000
75%       24.000000  7.992912e+05  1.377425e+04  1.019250e+03     1285.00000
max       43.000000  1.254322e+08  2.912710e+06  1.545017e+06   827755.00000

# Check Missing Values

In [5]:
df.isnull().sum()

video_id                    0
trending_date               0
title                       0
channel_title               0
category_id                 0
publish_time                0
tags                        0
views                       0
likes                       0
dislikes                    0
comment_count               0
thumbnail_link              0
comments_disabled           0
ratings_disabled            0
video_error_or_removed      0
description               561
dtype: int64

# Handle Missing Values

In [6]:
df['description'].fillna("No Description", inplace=True)
df['tags'].fillna("No Tags", inplace=True)

C:\Users\ojaswitha\AppData\Local\Temp\ipykernel_18124\3393450503.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['description'].fillna("No Description", inplace=True)
C:\Users\ojaswitha\AppData\Local\Temp\ipykernel_18124\3393450503.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['tags'].fillna("No Tags", inplace=True)

Missing values in textual columns were handled using appropriate placeholder values.

# Remove Duplicate Records

In [7]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

Duplicate records were removed to ensure data integrity.

# Convert Date Columns

In [8]:
df['publish_time'] = pd.to_datetime(df['publish_time'])

Date columns were converted into datetime format for consistency.

# Remove Unnecessary Columns

In [9]:
df.drop(columns=['thumbnail_link'], inplace=True)

# Handle Outliers (Views, Likes)

In [10]:
df[['views', 'likes', 'dislikes']].describe()

              views         likes      dislikes
count  3.308900e+04  3.308900e+04  3.308900e+04
mean   9.963425e+05  2.558762e+04  1.576535e+03
std    3.148111e+06  9.647320e+04  1.689573e+04
min    4.024000e+03  0.000000e+00  0.000000e+00
25%    1.127190e+05  7.870000e+02  9.800000e+01
50%    2.750270e+05  2.757000e+03  2.890000e+02
75%    7.320220e+05  1.201100e+04  9.320000e+02
max    1.254322e+08  2.912710e+06  1.545017e+06

In [11]:
df = df[df['views'] >= 0]
df = df[df['likes'] >= 0]

Negative and invalid numerical values were removed to improve data quality.

# Load Category JSON File

In [12]:
with open("IN_category_id.json") as f:
    data = json.load(f)

In [13]:
categories = {}

for item in data['items']:
    categories[int(item['id'])] = item['snippet']['title']

# Map Category ID to Category Name

In [14]:
df['category_name'] = df['category_id'].map(categories)
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,description,category_name
0,kzwfHumJyYc,17.14.11,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12 12:20:39+00:00,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...,Film & Animation
1,zUZ1z7FwLc8,17.14.11,"पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...",HJ NEWS,25,2017-11-13 05:43:56+00:00,"पीरियड्स के समय|""पेट पर पति करता ऐसा""|""देखकर द...",590101,735,904,0,True,False,False,"पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...",News & Politics
2,10L1hZ9qa58,17.14.11,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12 15:48:08+00:00,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...,Entertainment
3,N1vE8iiEg64,17.14.11,Eruma Saani | Tamil vs English,Eruma Saani,23,2017-11-12 07:08:48+00:00,"Eruma Saani|""Tamil Comedy Videos""|""Films""|""Mov...",1242680,70353,1624,2684,False,False,False,This video showcases the difference between pe...,Comedy
4,kJzGH0PVQHQ,17.14.11,why Samantha became EMOTIONAL @ Samantha naga ...,Filmylooks,24,2017-11-13 01:14:16+00:00,"Filmylooks|""latest news""|""telugu movies""|""telu...",464015,492,293,66,False,False,False,why Samantha became EMOTIONAL @ Samantha naga ...,Entertainment

# Final Cleaned Dataset

In [15]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 33089 entries, 0 to 37330
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                33089 non-null  object
 1   trending_date           33089 non-null  object
 2   title                   33089 non-null  object
 3   channel_title           33089 non-null  object
 4   category_id             33089 non-null  int64
 5   publish_time            33089 non-null  datetime64[ns, UTC]
 6   tags                    33089 non-null  object
 7   views                   33089 non-null  int64
 8   likes                   33089 non-null  int64
 9   dislikes                33089 non-null  int64
 10  comment_count           33089 non-null  int64
 11  comments_disabled       33089 non-null  bool
 12  ratings_disabled        33089 non-null  bool
 13  video_error_or_removed  33089 non-null  bool
 14  description             33089 non-null  object
 15  category_name           32986 non-null  object
dtypes: bool(3), datetime64[ns, UTC](1), int64(5), object(7)
memory usage: 3.6+ MB

video_id                    0
trending_date               0
title                       0
channel_title               0
category_id                 0
publish_time                0
tags                        0
views                       0
likes                       0
dislikes                    0
comment_count               0
comments_disabled           0
ratings_disabled            0
video_error_or_removed      0
description                 0
category_name             103
dtype: int64

FINAL DATA CLEANING SUMMARY

Data cleaning was performed on the YouTube Trending Videos dataset to improve data quality and reliability. Missing values in textual fields were handled appropriately, duplicate records were removed, and date columns were converted to datetime format. Unnecessary columns were dropped, and category IDs were mapped to category names using JSON files. Outliers and invalid values were filtered. The cleaned dataset was saved for further analysis.